In [1]:
import pandas as pd
import os
from dotenv import load_dotenv

In [3]:
load_dotenv()

True

In [4]:
conn_url = os.getenv("DB_CONN")

In [12]:
users = pd.read_sql(
    "SELECT * FROM public.user_data;",
    conn_url
)

posts = pd.read_sql(
    "SELECT * FROM public.post_text_df;",
    conn_url
)

In [3]:
feedback = pd.read_sql(
    """WITH RankedFeedData AS (
        SELECT 
            timestamp,
            user_id,
            post_id,
            action,
            target,
            ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY timestamp DESC) AS row_num
        FROM 
            feed_data
    )
    SELECT 
        timestamp,
        user_id,
        post_id,
        action,
        target
    FROM 
        RankedFeedData
    WHERE 
        row_num <= 30;
    """,
    conn_url
)

In [4]:
users_likes = pd.read_sql(
    """WITH RankedFeedData AS (
        SELECT 
            timestamp,
            user_id,
            post_id,
            action,
            target,
            ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY timestamp DESC) AS row_num
        FROM 
            feed_data
        WHERE
            action = 'like'
    )
    SELECT 
        timestamp,
        user_id,
        post_id,
        action,
        target
    FROM 
        RankedFeedData
    WHERE 
        row_num <= 10;
    """,
    conn_url
)

In [5]:
users_views = pd.read_sql(
    """WITH RankedFeedData AS (
        SELECT 
            timestamp,
            user_id,
            post_id,
            action,
            target,
            ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY timestamp DESC) AS row_num
        FROM 
            feed_data
        WHERE
            action = 'view'
    )
    SELECT 
        timestamp,
        user_id,
        post_id,
        action,
        target
    FROM 
        RankedFeedData
    WHERE 
        row_num <= 10;
    """,
    conn_url
)

In [6]:
users_likes.shape, users_views.shape

((1615528, 5), (1632050, 5))

In [7]:
# удалим просмотры пользователя у тех постов, которых пользователь поставил лайк

df_like_copy = users_likes.copy()
df_view_copy = users_views.copy()

merged_df = pd.merge(df_view_copy, df_like_copy, on=['user_id', 'post_id'], how='left', suffixes=('_view', '_like'))

filtered_df = merged_df[merged_df['action_like'].isnull()]

df_view_copy = filtered_df[['timestamp_view', 'user_id', 'post_id', 'action_view', 'target_view']]

df_view_copy = df_view_copy.rename(columns={'timestamp_view': 'timestamp', 'action_view': 'action', 'target_view': 'target'})

In [8]:
df_like_copy.shape, df_view_copy.shape

((1615528, 5), (1510221, 5))

In [9]:
feedback = pd.concat((df_view_copy, df_like_copy), axis=0)

In [10]:
feedback = feedback.drop(["target"], axis=1)
feedback["action"] = feedback["action"].apply(lambda x: 1 if x == "like" else 0)
feedback.head()

            timestamp  user_id  post_id  action
0 2021-12-29 15:24:59      200     1773       0
2 2021-12-29 15:23:54      200     1122       0
3 2021-12-29 15:23:29      200     1362       0
4 2021-12-29 15:21:53      200     1541       0
5 2021-12-29 15:21:18      200     2160       0

# не нужное

In [38]:
feedback = pd.read_csv("feed_back_each_user.csv")

In [5]:
feedback.head()

             timestamp  user_id  post_id action  target
0  2021-12-29 15:24:59      200     1773   view       0
1  2021-12-29 15:24:57      200     2213   like       0
2  2021-12-29 15:24:31      200     2213   view       1
3  2021-12-29 15:23:54      200     1122   view       0
4  2021-12-29 15:23:29      200     1362   view       0

In [47]:
feedback.shape

(4896150, 5)

In [63]:
len(feedback[feedback["action"] == "like"]["user_id"].unique())

154073

In [59]:
# Удалим такие записи view, у которых есть дубликат, но с типом like. Так как из-за них модели сходят с ума, у нас есть две идентичные записи, но с разными таргетами
# + при делений на обучающую и тестовую выборки нужно делать шафл, так как у нас датасет отсортирован по юзерам, модель не видит тестовых юзеров вообще.
new_feed = feedback[:50000].copy()
for row in new_feed[new_feed["action"] == "like"].itertuples():
    user_part = new_feed[(new_feed["user_id"] == row.user_id) & (new_feed["post_id"] == row.post_id)]
    for index, n_row in user_part.iterrows():
        if n_row.action == "view":
            new_feed.drop(index, inplace=True)

In [60]:
new_feed.shape

(44612, 5)

# for ML

In [13]:
feedback = feedback.merge(posts).merge(users).sort_values("user_id")

In [14]:
feedback.head(1)

,timestamp,user_id,post_id,action,text,topic,gender,age,country,city,exp_group,os,source
0,2021-12-29 15:24:59,200,1773,0,Hearts 2-1 Livingston\n\nHearts wrapped up the...,sport,1,34,Russia,Degtyarsk,3,Android,ads

In [15]:
feedback.to_csv("data/full_data.csv")

KeyboardInterrupt:

In [13]:
feedback.drop(["timestamp"], axis=1, inplace=True)

In [14]:
feedback.head(1)

,user_id,post_id,action,text,topic,gender,age,country,city,exp_group,os,source
0,200,1773,0,Hearts 2-1 Livingston\n\nHearts wrapped up the...,sport,1,34,Russia,Degtyarsk,3,Android,ads

In [15]:
feedback["k_words"] = feedback["text"].apply(lambda x: len(x.replace("\n", " ").split(" ")))

In [16]:
feedback.drop(["text"], axis=1, inplace=True)

In [17]:
feedback.head(1)

,user_id,post_id,action,topic,gender,age,country,city,exp_group,os,source,k_words
0,200,1773,0,sport,1,34,Russia,Degtyarsk,3,Android,ads,449

In [18]:
encoded_feedback = feedback.copy()
for col in ["topic", "country", "exp_group", "os", "source"]:
    one_hot = pd.get_dummies(encoded_feedback[col], prefix=col, drop_first=True).astype(int)
    encoded_feedback = pd.concat((encoded_feedback.drop(col, axis=1), one_hot), axis=1)

In [19]:
encoded_feedback.drop(["city"], axis=1, inplace=True)
encoded_feedback.head()

,user_id,post_id,action,gender,age,k_words,topic_covid,topic_entertainment,topic_movie,topic_politics,...,country_Russia,country_Switzerland,country_Turkey,country_Ukraine,exp_group_1,exp_group_2,exp_group_3,exp_group_4,os_iOS,source_organic
0,200,1773,0,1,34,449,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
17,200,4723,1,1,34,352,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
16,200,994,1,1,34,445,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0
15,200,3567,1,1,34,26,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
14,200,7143,1,1,34,111,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0

In [26]:
feedback.to_csv("new_feed_back.csv", sep=",", index=False)

In [5]:
# X = encoded_feedback.drop(["action"], axis=1)
# y = encoded_feedback["action"]
feedback = pd.read_csv("data/new_feed_back.csv", sep=",")
X = feedback.drop(["action"], axis=1)
y = feedback["action"]

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, test_size=0.15, random_state=32)

# Catboost

In [67]:
res_posts = posts.copy()

In [68]:
req_user = users[users["user_id"] == 200]

req_user["key"] = 0
res_posts["key"] = 0

pd.merge(res_posts, req_user, on='key').drop('key', axis=1)

C:\Users\ivana\AppData\Local\Temp\ipykernel_12888\2720941670.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  req_user["key"] = 0

,post_id,text,topic,user_id,gender,age,country,city,exp_group,os,source
0,1,UK economy facing major risks\n\nThe UK manufa...,business,200,1,34,Russia,Degtyarsk,3,Android,ads
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,200,1,34,Russia,Degtyarsk,3,Android,ads
2,3,Asian quake hits European shares\n\nShares in ...,business,200,1,34,Russia,Degtyarsk,3,Android,ads
3,4,India power shares jump on debut\n\nShares in ...,business,200,1,34,Russia,Degtyarsk,3,Android,ads
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,200,1,34,Russia,Degtyarsk,3,Android,ads
...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,200,1,34,Russia,Degtyarsk,3,Android,ads
7019,7316,I give this movie 2 stars purely because of it...,movie,200,1,34,Russia,Degtyarsk,3,Android,ads
7020,7317,I cant believe this film was allowed to be mad...,movie,200,1,34,Russia,Degtyarsk,3,Android,ads
7021,7318,The version I saw of this film was the Blockbu...,movie,200,1,34,Russia,Degtyarsk,3,Android,ads
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,200,1,34,Russia,Degtyarsk,3,Android,ads

In [2]:
from catboost import CatBoostClassifier

In [29]:
catboost = CatBoostClassifier(max_depth=3, learning_rate=0.1, iterations=100,
                              cat_features=["topic", "gender", "country", "city", "exp_group", "os", "source"])

catboost.fit(X_train.drop(["user_id", "post_id"], axis=1), y_train);

0:	learn: 0.6857634	total: 768ms	remaining: 1m 16s
1:	learn: 0.6845831	total: 1.58s	remaining: 1m 17s
2:	learn: 0.6836716	total: 2.19s	remaining: 1m 10s
3:	learn: 0.6828894	total: 2.79s	remaining: 1m 6s
4:	learn: 0.6822541	total: 3.3s	remaining: 1m 2s
5:	learn: 0.6813594	total: 3.78s	remaining: 59.3s
6:	learn: 0.6808519	total: 4.26s	remaining: 56.6s
7:	learn: 0.6742528	total: 4.73s	remaining: 54.4s
8:	learn: 0.6733138	total: 5.23s	remaining: 52.9s
9:	learn: 0.6681180	total: 5.74s	remaining: 51.7s
10:	learn: 0.6674696	total: 6.21s	remaining: 50.3s
11:	learn: 0.6668603	total: 6.67s	remaining: 48.9s
12:	learn: 0.6628007	total: 7.15s	remaining: 47.9s
13:	learn: 0.6600213	total: 7.64s	remaining: 47s
14:	learn: 0.6573271	total: 8.18s	remaining: 46.3s
15:	learn: 0.6545398	total: 8.66s	remaining: 45.5s
16:	learn: 0.6540365	total: 9.14s	remaining: 44.6s
17:	learn: 0.6531679	total: 9.95s	remaining: 45.3s
18:	learn: 0.6527799	total: 10.6s	remaining: 45s
19:	learn: 0.6525660	total: 11.1s	remaining: 44.2s
20:	learn: 0.6522572	total: 11.5s	remaining: 43.4s
21:	learn: 0.6521366	total: 12.1s	remaining: 42.9s
22:	learn: 0.6493705	total: 12.6s	remaining: 42.1s
23:	learn: 0.6492007	total: 13.1s	remaining: 41.4s
24:	learn: 0.6489528	total: 13.6s	remaining: 40.7s
25:	learn: 0.6478896	total: 14.1s	remaining: 40s
26:	learn: 0.6470216	total: 14.5s	remaining: 39.3s
27:	learn: 0.6463369	total: 15s	remaining: 38.6s
28:	learn: 0.6450050	total: 15.5s	remaining: 37.9s
29:	learn: 0.6448197	total: 16s	remaining: 37.4s
30:	learn: 0.6447632	total: 16.5s	remaining: 36.7s
31:	learn: 0.6445364	total: 17s	remaining: 36.1s
32:	learn: 0.6443186	total: 17.4s	remaining: 35.4s
33:	learn: 0.6442718	total: 18s	remaining: 34.9s
34:	learn: 0.6442043	total: 18.5s	remaining: 34.3s
35:	learn: 0.6441677	total: 19.2s	remaining: 34.1s
36:	learn: 0.6441334	total: 19.8s	remaining: 33.7s
37:	learn: 0.6421518	total: 20.3s	remaining: 33.1s
38:	learn: 0.6414650	total: 20.7s	remaining: 32.4s
39:	learn: 0.6414382	total: 21.2s	remaining: 31.8s
40:	learn: 0.6402829	total: 21.7s	remaining: 31.2s
41:	learn: 0.6400875	total: 22.1s	remaining: 30.5s
42:	learn: 0.6399480	total: 22.5s	remaining: 29.9s
43:	learn: 0.6399013	total: 23s	remaining: 29.3s
44:	learn: 0.6389382	total: 23.5s	remaining: 28.7s
45:	learn: 0.6381551	total: 23.9s	remaining: 28.1s
46:	learn: 0.6380997	total: 24.4s	remaining: 27.5s
47:	learn: 0.6380733	total: 24.8s	remaining: 26.9s
48:	learn: 0.6380520	total: 25.3s	remaining: 26.3s
49:	learn: 0.6363926	total: 25.8s	remaining: 25.8s
50:	learn: 0.6357041	total: 26.3s	remaining: 25.2s
51:	learn: 0.6342278	total: 26.7s	remaining: 24.7s
52:	learn: 0.6336254	total: 27.2s	remaining: 24.1s
53:	learn: 0.6334761	total: 27.7s	remaining: 23.6s
54:	learn: 0.6333403	total: 28.1s	remaining: 23s
55:	learn: 0.6320636	total: 28.6s	remaining: 22.5s
56:	learn: 0.6318519	total: 29.2s	remaining: 22s
57:	learn: 0.6318319	total: 29.7s	remaining: 21.5s
58:	learn: 0.6307843	total: 30.3s	remaining: 21s
59:	learn: 0.6305834	total: 30.8s	remaining: 20.5s
60:	learn: 0.6300591	total: 31.4s	remaining: 20.1s
61:	learn: 0.6299411	total: 32.1s	remaining: 19.7s
62:	learn: 0.6288300	total: 32.6s	remaining: 19.2s
63:	learn: 0.6286626	total: 33.2s	remaining: 18.7s
64:	learn: 0.6284767	total: 33.8s	remaining: 18.2s
65:	learn: 0.6275849	total: 34.3s	remaining: 17.7s
66:	learn: 0.6271262	total: 34.8s	remaining: 17.1s
67:	learn: 0.6271039	total: 35.3s	remaining: 16.6s
68:	learn: 0.6268351	total: 35.9s	remaining: 16.1s
69:	learn: 0.6264538	total: 36.4s	remaining: 15.6s
70:	learn: 0.6263195	total: 37s	remaining: 15.1s
71:	learn: 0.6263011	total: 37.5s	remaining: 14.6s
72:	learn: 0.6260780	total: 38s	remaining: 14.1s
73:	learn: 0.6259509	total: 38.5s	remaining: 13.5s
74:	learn: 0.6258995	total: 39.1s	remaining: 13s
75:	learn: 0.6258595	total: 39.7s	remaining: 12.5s
76:	learn: 0.6250778	total: 40.2s	remaining: 12s
77:	learn: 0.6247410	total: 40.7s	remaining: 11.5s
78:	learn: 0.6242838	total: 41.2s	remaining: 11s
79:	learn: 0.6242702	total: 41.8s	remaining: 10.5s
80:	learn: 0.6242140	total: 42.4s	remaining: 9.95s
81:	learn: 0.6241136	total: 43s	remaining: 9.44s
82:	learn: 0.6238121	total: 43.6s	remaining: 8.93s
83:	learn: 0.6232048	total: 44.2s	remaining: 8.42s
84:	learn: 0.6229394	total: 45s	remaining: 7.94s
85:	learn: 0.6224204	total: 46s	remaining: 7.48s
86:	learn: 0.6221854	total: 46.5s	remaining: 6.95s
87:	learn: 0.6220728	total: 47.1s	remaining: 6.42s
88:	learn: 0.6219485	total: 47.7s	remaining: 5.89s
89:	learn: 0.6216558	total: 48.2s	remaining: 5.35s
90:	learn: 0.6216407	total: 48.8s	remaining: 4.82s
91:	learn: 0.6214968	total: 49.3s	remaining: 4.29s
92:	learn: 0.6210962	total: 49.9s	remaining: 3.75s
93:	learn: 0.6209958	total: 50.4s	remaining: 3.22s
94:	learn: 0.6204747	total: 50.9s	remaining: 2.68s
95:	learn: 0.6204341	total: 51.4s	remaining: 2.14s
96:	learn: 0.6189355	total: 51.9s	remaining: 1.61s
97:	learn: 0.6188331	total: 52.5s	remaining: 1.07s
98:	learn: 0.6187994	total: 53s	remaining: 536ms
99:	learn: 0.6185045	total: 53.5s	remaining: 0us

In [33]:
X_test.drop(["target"], axis=1, inplace=True)

In [7]:
new_model = CatBoostClassifier().load_model("updated_catboost_model")

In [8]:
X_test["target"] = y_test
X_test["prediction"] = new_model.predict(X_test.drop(["user_id", "post_id"], axis=1))

In [9]:
import numpy as np

users_hitrate = []

for user in X_test["user_id"].unique():
    part = X_test[X_test["user_id"] == user].sort_values("prediction").reset_index()[:5]
    user_hit = 0
    for index, row in part.iterrows():
        if row["prediction"] == 1 and row["target"] == 1:
            user_hit = 1
            break
    users_hitrate.append(user_hit)

print(np.mean(users_hitrate))

0.628483170961962

In [44]:
catboost.save_model("new_catboost_model", format="cbm")

# lightgbm

In [65]:
from lightgbm import LGBMClassifier

light_model = LGBMClassifier(max_depth=3, n_estimators=500)

light_model.fit(X_train, y_train);

In [67]:
light_model.booster_.save_model("new_light_model.txt")

In [68]:
import lightgbm
model_from_load = lightgbm.Booster(model_file="new_light_model.txt")
model_from_load.predict(X_test)

array([0.14912409, 0.09955927, 0.10288893, ..., 0.09607725, 0.09167931,
       0.09607725])

# KNN

In [51]:
import numpy as np

def kernel(distances, h=1):
    
        const = 1 / (np.sqrt(2 * np.pi))
        power = (-1/2) * ((distances)**2) / h**2
    
        return const * np.exp(power)

In [52]:
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler


pipe = Pipeline([('scaler', StandardScaler()), 
                 ('KNN', KNeighborsClassifier(weights=kernel))])

pipe.fit(X_train.drop(["user_id", "post_id"], axis=1), y_train);

# Расчет hitrate@5

In [72]:
import numpy as np

# Создаем DataFrame с прогнозами модели
predictions = pipe.predict(X_test.drop(["user_id", "post_id", "action"], axis=1))

# Добавляем столбец с прогнозами к DataFrame с тестовыми данными
X_test['predicted_action'] = predictions

# Группируем данные по пользователю и выбираем первые пять записей каждого пользователя
grouped = X_test.groupby('user_id').head(5)

# Вычисляем метрику hitrate@5
hits = grouped[(grouped['action'] == 1) & (grouped['action'] == grouped['predicted_action'])]
hitrate = len(hits) / len(grouped['user_id'].unique())

print("Hitrate@5:", hitrate)